workflows/Adjust morning alarms based on weather and train delays using Google Gemini-12514/12514-adjust-morning-alarms-based-on-weather-and-train-delays-using-google-gemini.webp
{"id":"uiEAtWeggmVujadz","meta":{"instanceId":"d6998d68d5ddde8bdb1a2d6a16f88f7d0cef5f647d1548b25f1adf37764062db","templateCredsSetupCompleted":true},"name":"Monitor morning weather and traffic to trigger alarms using Google Gemini","tags":[],"nodes":[{"id":"cee9899f-9b8b-410a-8cde-ed5a5ad497ca","name":"Sticky Note Main","type":"n8n-nodes-base.stickyNote","position":[-416,896],"parameters":{"color":3,"width":480,"height":608,"content":"# Smart Morning Guard\n\n## How it works\n1. **Trigger:** Runs daily at 5:00 AM.\n2. **Gather Info:** Fetches local weather (OpenWeatherMap) and train delay news (Google News RSS).\n3. **AI Judgment:** **Gemini** analyzes the data to detect heavy rain or delays.\n4. **Action:**\n   - **Emergency:** Sends an immediate alert email and triggers smart home devices (optional).\n   - **Normal:** Waits until your scheduled wake-up time to send a calm briefing.\n\n## Setup steps\n1. **Credentials:** Set up OpenWeatherMap, Google Gemini, and Gmail.\n2. **Config:** Open the **\"1. Configuration\"** node to set your Location, Train Line, and Email.\n3. **Smart Home:** (Optional) Enable the SwitchBot node to automate lights."},"typeVersion":1},{"id":"f880fcf3-46dd-442a-9f5d-b2dc09990544","name":"Sticky Note Config","type":"n8n-nodes-base.stickyNote","position":[96,912],"parameters":{"color":7,"width":468,"height":432,"content":"## 1. Configuration\nSet your target location, train line to monitor, and email address here."},"typeVersion":1},{"id":"5a911c00-ffa9-4a05-a265-3556f924c932","name":"Sticky Note Data","type":"n8n-nodes-base.stickyNote","position":[608,928],"parameters":{"color":7,"width":460,"height":616,"content":"## 2. Data Collection\nFetches weather data and searches for specific train line delays via Google News RSS."},"typeVersion":1},{"id":"e863f002-e358-4bc3-80f2-7ff16e481ab9","name":"Sticky Note AI","type":"n8n-nodes-base.stickyNote","position":[1104,928],"parameters":{"color":7,"width":460,"height":616,"content":"## 3. AI Analysis\nGemini reads the weather and news, decides if you need to wake up early, and drafts the email."},"typeVersion":1},{"id":"c599d10f-8d6f-42ac-8731-7b54e8bf59f7","name":"Sticky Note Routing","type":"n8n-nodes-base.stickyNote","position":[1600,928],"parameters":{"color":7,"width":900,"height":616,"content":"## 4. Emergency Routing\nIf Emergency: Send immediately & trigger SwitchBot.\nIf Normal: Wait 90 mins then send."},"typeVersion":1},{"id":"b8560bd1-ceec-4a1e-8cb8-511f3ac4c5ba","name":"Wake Up Check (5:00 AM)","type":"n8n-nodes-base.scheduleTrigger","position":[112,1216],"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"typeVersion":1.2},{"id":"598f8d19-5b90-4dc4-8435-2e3158a3483c","name":"Configuration","type":"n8n-nodes-base.set","position":[320,1216],"parameters":{"options":{},"assignments":{"assignments":[{"id":"id-1","name":"location","type":"string","value":"Tokyo,JP"},{"id":"id-2","name":"trainLine","type":"string","value":"Yamanote Line"},{"id":"id-3","name":"userEmail","type":"string","value":"user@example.com"},{"id":"id-4","name":"openWeatherApiKey","type":"string","value":"placeholder_api_key"}]},"includeOtherFields":true},"typeVersion":3.4},{"id":"4742d6ec-129d-4431-92ad-ae3c08e11f3d","name":"Get Weather","type":"n8n-nodes-base.httpRequest","position":[672,1152],"parameters":{"url":"https://api.openweathermap.org/data/2.5/weather","options":{},"sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.location }}"},{"name":"appid","value":"={{ $json.openWeatherApiKey }}"},{"name":"units","value":"metric"},{"name":"lang","value":"en"}]}},"typeVersion":4.3},{"id":"a8cf704d-2415-4d4f-a3b3-04f23e7c487e","name":"Get Train News (RSS)","type":"n8n-nodes-base.rssFeedRead","position":[672,1328],"parameters":{"url":"={{ 'https://news.google.com/rss/search?q=' + encodeURIComponent($('Configuration').first().json.trainLine + ' delay suspended') + '&hl=en-US&gl=US&ceid=US:en' }}","options":{}},"typeVersion":1.2},{"id":"e9b546ec-5bb5-4d73-820c-0fed23728283","name":"Gemini: Judge & Draft","type":"@n8n/n8n-nodes-langchain.googleGemini","position":[1168,1216],"parameters":{"modelId":{"__rl":true,"mode":"list","value":"models/gemini-1.5-flash","cachedResultName":"models/gemini-1.5-flash"},"options":{},"messages":{"values":[{"content":"=You are a smart morning assistant.\nAnalyze the weather and train news to determine if the user needs to wake up early.\n\nCondition for EMERGENCY:\n- Weather: Heavy rain, snow, or storm.\n- Train: Delays or suspension mentioned in the news.\n\n[Data]\nWeather: {{ $('Get Weather').first().json.weather[0].description }}, Temp: {{ $('Get Weather').first().json.main.temp }}C\nNews Titles: {{ $('Get Train News (RSS)').all().map(i => i.json.title).join(', ') }}\n\n[Output Format]\nOutput ONLY valid JSON.\n{\n  \"status\": \"EMERGENCY\" or \"NORMAL\",\n  \"reason\": \"Short reason why\",\n  \"email_subject\": \"Subject line\",\n  \"email_body\": \"HTML email body with greeting, status, and advice.\"\n}"}]}},"credentials":{"googlePalmApi":{"id":"uNBp7Mo2n5MpE8Mb","name":"Google Gemini(PaLM) Api account"}},"typeVersion":1},{"id":"99225a7c-e042-4714-9b62-f36e6f54b851","name":"Parse JSON","type":"n8n-nodes-base.code","position":[1392,1216],"parameters":{"jsCode":"// Parse Gemini JSON output\nconst text = $input.first().json.content.parts[0].text;\nlet result = {};\n\ntry {\n  const cleanText = text.replace(/```json/g, '').replace(/```/g, '').trim();\n  result = JSON.parse(cleanText);\n} catch (e) {\n  result = {\n    status: \"NORMAL\",\n    reason: \"AI parse error, assuming normal.\",\n    email_subject: \"Morning Update\",\n    email_body: \"Good morning. AI couldn't parse the data, but here is your alarm.\"\n  };\n}\n\nreturn result;"},"typeVersion":2},{"id":"4c35f990-9a6e-4b60-83cf-313295841041","name":"Is Emergency?","type":"n8n-nodes-base.if","position":[1648,1216],"parameters":{"options":{},"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"check_status","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"EMERGENCY"}]}},"typeVersion":2.2},{"id":"9ffdf05f-61bc-494a-bcfa-331e198d3095","name":"SwitchBot (Optional)","type":"n8n-nodes-base.httpRequest","notes":"Enable this to turn on lights/AC in emergency","disabled":true,"position":[1920,1024],"parameters":{"url":"https://api.switch-bot.com/v1.0/devices/YOUR_DEVICE_ID/commands","method":"POST","options":{},"sendBody":true,"sendHeaders":true,"bodyParameters":{"parameters":[{"name":"command","value":"turnOn"}]},"headerParameters":{"parameters":[{"name":"Authorization","value":"YOUR_TOKEN"}]}},"typeVersion":4.3},{"id":"4dcaa190-3863-489e-8497-5af2b6e183ba","name":"Send Email (Urgent)","type":"n8n-nodes-base.gmail","position":[2192,1024],"webhookId":"ec5eecab-96d7-464f-9338-785fd0bb0e02","parameters":{"sendTo":"={{ $('Configuration').first().json.userEmail }}","message":"={{ $json.email_body }}","options":{},"subject":"={{ $json.email_subject }}","emailType":"text"},"credentials":{"gmailOAuth2":{"id":"qVmR1ytFIlpRVwxW","name":"Gmail account"}},"typeVersion":2.1},{"id":"204c543c-28f3-495f-b7d8-48d346e0e77d","name":"Wait 90 mins","type":"n8n-nodes-base.wait","position":[1920,1344],"webhookId":"50c8e03e-1111-4444-8888-d6e3c2f1b4a1","parameters":{"unit":"minutes","amount":90},"typeVersion":1.1},{"id":"976c9d0f-1e05-433b-8979-c576e2e912a6","name":"Send Email (Normal)","type":"n8n-nodes-base.gmail","position":[2192,1344],"webhookId":"758f39b6-1e6c-4f5c-b51b-62401d29a7fe","parameters":{"sendTo":"={{ $('Configuration').first().json.userEmail }}","message":"={{ $json.email_body }}","options":{},"subject":"={{ $json.email_subject }}","emailType":"text"},"credentials":{"gmailOAuth2":{"id":"qVmR1ytFIlpRVwxW","name":"Gmail account"}},"typeVersion":2.1}],"active":false,"pinData":{},"settings":{"availableInMCP":false,"executionOrder":"v1"},"versionId":"a4d2ad09-f61e-4fa6-b4c4-0feb5d2123af","connections":{"Parse JSON":{"main":[[{"node":"Is Emergency?","type":"main","index":0}]]},"Get Weather":{"main":[[{"node":"Gemini: Judge & Draft","type":"main","index":0}]]},"Wait 90 mins":{"main":[[{"node":"Send Email (Normal)","type":"main","index":0}]]},"Configuration":{"main":[[{"node":"Get Weather","type":"main","index":0},{"node":"Get Train News (RSS)","type":"main","index":0}]]},"Is Emergency?":{"main":[[{"node":"SwitchBot (Optional)","type":"main","index":0},{"node":"Send Email (Urgent)","type":"main","index":0}],[{"node":"Wait 90 mins","type":"main","index":0}]]},"Get Train News (RSS)":{"main":[[{"node":"Gemini: Judge & Draft","type":"main","index":0}]]},"Gemini: Judge & Draft":{"main":[[{"node":"Parse JSON","type":"main","index":0}]]},"Wake Up Check (5:00 AM)":{"main":[[{"node":"Configuration","type":"main","index":0}]]}}}